* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* NavBar Start */
#nav-bar {
  color: white !important;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
}

.navbar-brand {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.nav-item {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.show, .nav-item.show {
  opacity: 1;
}

#brand > img {
  width: 40px;
  height: 40px;
  margin-top: -1.5rem;
  margin-bottom: -1rem;
}

#brand.hidden, .nav-item.hidden {
  opacity: 0;
  pointer-events: none;
}

.display-none {
  display: none;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.no-scroll {
  overflow: hidden;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3e%3cpath stroke='rgba(255, 63, 74, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  opacity: 0;
  pointer-events: none;
}

.navbar-toggler.show {
  opacity: 1;
  pointer-events: all;
}

/* NavBar End */

/* Landing Section Start */
#home {
  background-color: black;
}

.landing-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing {
  min-height: 100vh;
  background-color: black;
}

#full-name, #profession {
  width: 100%;
  display: flex;
  justify-content: center;
}

#full-name {
  align-items: flex-end;
}

#full-name > i,
#profession > i {
  display: inline-flex;
  font-style: normal;
  opacity: 0;
}

#profession i.show {
  opacity: 1;
}

#profession i {
  font-style: italic;
  font-size: 3rem;
  opacity: 0;
}

#full-name > i {
  opacity: 0;
  font-size: 5rem;
  font-weight: bold;
}

#full-name > i.show {
  opacity: 1;
}

#profession {
  color:#FF3F4A;
  margin-top: -1rem;
}

#landing-text {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: 1rem;
}

.bx {
  font-size: 5rem;
  margin: 2.3rem 0 0;
}

#icons, #icon-des {
  width: 80%;
  display: flex;
}

#icons i {
  opacity: 0;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
}

#icon-des i {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.5rem;
  color: white;
  opacity: 0;
  margin-bottom: 3rem;
}

#icon-des i.show {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#icons i.show {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#arrow-down {
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: 20px;
  display: block;
  width: 3rem;
  height: 3rem;
  z-index: 9;
  animation: fade-move-down 2s ease-in-out infinite;
}

@keyframes arrow-animation {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes fade-move-down {
  0% {
    transform: translate(0,-10px);
    opacity: 0; 
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0,10px);
    opacity: 0;
  }
}

#arrow-down.hidden {
  opacity: 0;
  pointer-events: none;
  display: none;
}

#about-me {
  min-height: 100vh;
  min-width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-me.hidden, #skills.hidden {
  visibility: hidden;
}

#small-img {
  width: 3rem;
  height: 3rem;
}

#about-me-header {
  opacity: 0;
  font-size: 3rem;
  max-width: 95%;
}

#about-me-header.show {
  display: flex;
  color: #FF3F4A;
  opacity: 1;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

#about-me-caption {
  opacity: 0;
  line-height: 2;
  text-indent: 2rem;
  font-size: 1.5rem;
  width: 95%;
  margin: 12px 0 20px;
}

#about-me-caption.show {
  display: flex;
  opacity: 1;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

#carousel-about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#carousel-picture {
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carousel-picture.show {
  opacity: 1;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  user-select: none;
}

#carousel-picture > div {
  max-width: 700px;
}

#carousel-socials img {
  opacity: 0;
  display: flex;
}

#carousel-socials img.show {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#carousel-socials img:hover {
    transform: scale(1.5);
}

#carousel-socials div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Landing Section End */


/* Projects Section Start */
#projects {
  min-height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects-header > i {
  opacity: 0;
  padding-bottom: 2rem;
  font-size: 3rem;
}

#projects-header > i.show {
  color:#FF3F4A;
  opacity: 1;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.project {
  display: flex;
  align-items: center;
  color: white;
  transition: translate 0.3s ease;
  visibility: hidden;
}

.project.show {
  visibility: visible;
  animation: expand-animation 0.6s ease;
}

.content {
  display: flex;
  padding: 10px;
  border-radius: 20px;
  transition: all .5s ease;
  cursor: pointer;
  margin: 20px 0;
}

.content > * {
  flex: 1 1 100%;
}

.content img {
  width: 100%;
  border-radius: 20px;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

.content:hover {
  color: black;
  background-color: #FF3F4A;
  border: 10px solid rgb(255 63 74 / 0%);
  user-select: none;
}

.content h1 {
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content i {
  font-size: 17px;
}

.project-details {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(52 47 47);
  display: none;
  align-items: center;
  justify-content: center;
}

.project-details .detail {
  display: none;
  inset: 2rem;
  background: #fff;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  overflow-y: auto;
  text-align: justify;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.project-details .detail.active{
  display: inline-block;
  animation: expand-animation 0.4s ease;
}

@keyframes expand-animation {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

.project-details .detail::-webkit-scrollbar {
  display: none;	
}

.project-details .detail.no-scroll {
  overflow: hidden;
}

.project-details .detail video {
  border-radius: 20px;
  border: 5px solid #444;
  align-self: center;
}

.project-details .detail .close-icon {
  position: absolute;
  top: -20px; right:1rem;
  cursor: pointer;
  color:#444;
  font-size: 3rem;
  z-index: 999999;
}

.project-details .detail .close-icon:hover {
  transition: transform 0.3s ease;
  transform: scale(1.3);
}

.project-details .detail h3 {
  margin-top: 2rem;
  font-size: 3rem;
  text-align: left;
}

.project-details .detail p {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.project-details .detail .col-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-details .detail .col-12 i {
  text-justify: left;
  display: flex;
  margin-left: 0.8rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.project-details .detail li {
  margin-left: 2rem;
  font-size: 1.5rem;
}

.project-details .detail a {
  display: flex;
  background-color: #FF3F4A;
  color: white;
  border-radius: 20px;
  font-size: 1.5rem;
  justify-content: center;
  width:  25%;
  margin: 3rem auto 0;
  font-weight: bolder;
}

.project-details .detail a:hover {
  transition: all 0.5s ease;
  transform: scale(1.05);
  background-color: black;
  color: white;
}

/* Projects Section End */

/* Skills Section Start */
#skills {
  min-height: 100vh;
  background-color: black;
}

.title {
  opacity: 0;
}

.title.show {
  font-size: 3rem;
  color: #FF3F4A;
  opacity: 1;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.skill-des {
  opacity: 0;
  font-size: 1.5rem;
  color: #FF3F4A;
}

.skill-icons {
  opacity: 0;
}

.skill-icon-img {
  height: 5rem;
  width: 5rem;
  user-select: none;
  justify-content: space-evenly;
  margin: 2.3rem 0 0;
}

.skill-icons, .skill-des {
  justify-content: space-evenly;
}

.skill-des.show {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.skill-icons.show {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
  font-size: 5rem;
}

/* Skills Section End */

/* Contacts Section Start */
#contact {
  min-height: 100vh;
  background-color: #000;
  color: white;
}

#form-carousel {
  margin-top: 10%;
}

#send-email-button {
  padding-bottom: 25%;
}

#form-col {
  opacity: 0;
}

#form-col.show {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.form-group {
  opacity: 0;
}

.form-group.show {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#client-reviews-carousel.show {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* Contacts Section End */

/* Awards and Achievements Carousel Start */
#client-reviews-carousel {
  opacity: 0;
  cursor: pointer;
  margin-top: 3rem;
  border: white;
  padding-bottom: 25%;
}

#carousel-example-captions {
  transition: transform 0.3s ease;
}

#carousel-example-captions:hover {
  transform: scale(1.1);
}

.carousel.full-screen {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgb(48 46 46 / 77.4%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.full-screen .carousel-inner,
.carousel.full-screen .carousel-item {
  max-height: 80vh;
  max-width: 55vw;
}

.carousel.full-screen .carousel-item img {
  max-width: 92%;
  padding: 0.5rem;
  border-radius: 20px;
  position: relative;
  left: 4%;
}

.carousel.full-screen .carousel-indicators,
.carousel.full-screen .carousel-control-prev,
.carousel.full-screen .carousel-control-next {
  display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: #ccc;
}

.carousel.full-screen .carousel-control-prev-icon,
.carousel.full-screen .carousel-control-next-icon {
  background-color: #fff;
}

.carousel.full-screen .carousel-control-prev-icon:hover,
.carousel.full-screen .carousel-control-next-icon:hover {
  background-color: #ccc;
}

.carousel.full-screen .carousel-control-prev,
.carousel.full-screen .carousel-control-next {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  margin-right: 15%;
  margin-left: 15%;
}

.carousel.full-screen .carousel-control-prev {
  left: 1rem;
}

.carousel.full-screen .carousel-control-next {
  right: 1rem;
}

.carousel-control-prev-icon {
  background-image: url('./images/arrow-square-left-f.svg');
  background-size: 30px;
}

.carousel-control-next-icon {
  background-image: url('./images/arrow-square-right-f.svg');
}

#form-col > i {
  color: #FF3F4A;
  font-size: 3rem;
}

#form-carousel-header> i {
  color: #FF3F4A;
  font-size: 2.3rem;
}

/* Awards and Achievements Carousel End */

#send-email-button .btn {
  background-color: #FF3F4A;
  color: white;
}

#footer {
  opacity: 0;
}

#footer.show {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#footer .btn {
  background-color: #FF3F4A;
  color: white;
}

#footer p {
  margin-top: 15px;
}

/* navbar hover and underline start */
.nav-link-underline {
  position: relative;
}

.nav-link-underline::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 10%;
  width: 80%;
  height: 3px;
  background-color: #FF3F4A;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link-underline:hover::after {
  transform: scaleX(1);
}

/* navbar hover and underline end */

#landing-spacer {
  height: 90%;
  width: 100px;
}

@media (width <= 450px) {
  #landing {
    min-height: 100vh + 1px;
  }

  .projects-container .project-details {
    font-size: 55%;
  }

  #full-name > i {
    font-size: 2.7rem;
  }

  #profession > i {
    font-size: 1.5rem;
  }

  #icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
  }

  #icon-des {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  #icons > i {
    font-size: 3.5rem;
  }

  #icon-des > i {
    font-size: 1rem;
  }

  #carousel-socials {
    max-width: 95%;
  }

  #carousel-socials div {
    display: inline-block !important;
    margin: auto;
  }

  #projects-header > i {
    padding: 4rem 0;
  }

  .project-details .detail {
    inset: 1rem;
  }

  .project-details .detail h3{
    margin-top: 2rem;
    font-size: 3rem;
    text-align: left;
    width: 85%;
  }

  .project-details .detail .col-12 i {
    text-align: left;
    font-size: 1.3rem;
  }

  .project-details .detail a {
    width: 100%;
  }

  .carousel.full-screen .carousel-inner,
  .carousel.full-screen .carousel-item {
    max-height: 100vh;
    max-width: 95vw;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    visibility: hidden;
  }
}

@media (width >= 451px) and (width <= 575px) {
  #full-name > i {
    font-size: 3.8rem;
  }

  #profession > i {
    font-size: 2rem;
  }

  #icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
  }

  #icon-des {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #icons > i {
    font-size: 4rem;
  }

  #icon-des > i {
    font-size: 1.5rem;
  }

  #projects-header > i {
    padding: 4rem 0;
  }
}

@media (width >= 576px) and (width <= 767px) {
  #icons {
    margin-top: 2rem;
  }

  .navbar-toggler-icon {
    opacity: 1;
    pointer-events: none;
  }

  #carousel-socials {
    max-width: 95%;
  }

  #carousel-socials div {
    display: inline-block;
    max-width: 10rem;
    margin: auto;
  }

  #projects-header > i {
    padding: 6rem 0;
  }

  .project-details .detail img{
    height: 25rem;
  }
}

/* medium devices */

/* 768px - 991px */
@media (width >= 768px) and (width <= 991px) {
  #icons {
    margin-top: 2rem;
  }

  .navbar {
    z-index: -9999;
  }

  .navbar-toggler-icon {
    opacity: 1;
    pointer-events: none;
  }

  .navbar-brand > img {
    height: 10rem;
    width: 10rem;
  }

  .projects-container, .project-details {
    font-size: 55%;
  }

  #arrow-down.lg-hidden {
    opacity: 0;
    pointer-events: none;
    display: none;
  }

  #projects-header > i {
    padding: 6rem 0;
  }

  .project-details .detail a {
    width: 100%;
  }
}

/* large devices */

/* 992px - 1199px */
@media (width >= 992px) {
  #client-reviews-carousel {
    width: auto;
    height: 400px;
    margin-top: 4.5rem;
    border: white;
  }

  #icons {
    margin-top: 2rem;
  }

  .project-details .detail h3{
    font-size: 7rem;
    text-align: left;
  }

  .project-details .detail .col-12 i {
    text-align: left;
    font-size: 1.3rem;
  }
}

@media (max-width: 1199px) {
  #landing-spacer {
    display: none;
  }
}

@media (min-width: 1300px) {
  #landing-spacer {
    display: none;
  }
}
